.login_out {
  background-color: rgba(170, 170, 170, 0.452);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 200px;
  margin: auto;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .cross {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 50px;
}

.login .cross button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.login .cross button img {
  height: 20px;
}

.login .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  font-family: Brandon bold;
  font-size: 17px;
}

.login .form ul {
  margin: 0px;
  padding: 0px;
}

.login .form ul li {
  width: 120px;
  padding: 5px;
  list-style: none;
}

.login .form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 100px;
}

.login .form .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 100px;
}

.login .form input {
  font-family: Brandon bold;
  border: none;
  background-color: #ececec;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.login .forgot_password a {
  font-family: Brandon bold;
  color: #3838C9;
  text-decoration: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.login .forgot_password a:hover {
  color: black;
}

@media only screen and (max-width: 1100px) {
  .login {
    width: 300px;
  }
  .login .cross {
    width: 280px;
    padding-right: 20px;
  }
  .login .form {
    width: 270px;
  }
  .login .form input {
    width: 120px;
  }
}
/*# sourceMappingURL=login.css.map */