$hover-color: #F64C72;
$primary: #242582;
$primary-light: #e6e6ff; 
$time: 300ms;

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;

    filter: drop-shadow(2px 2px 10px rgba(117, 117, 117, 0.445));

    z-index: 100;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4vw;
        img{
            height: 80px;
        }
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        ul{
            list-style: none;
            li{
                color: $primary;
                padding-left: 20px;
                padding-right: 20px;
                display: inline-block;
                text-decoration: none;
                transition-property: color border-color;
                transition-duration: $time;
            }
            li:hover{
                color: $hover-color;
            }
        }
    }
    .sign{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 40px;
            margin: 2%;
            border-radius: 3px;
            border:none;
        }
        button:hover{
            cursor: pointer;
        }
        .login{
            color: $primary;
            background-color: $primary-light;
            transition-property: all;
            transition-duration: $time;
        }
        .login:hover{
            background-color: $hover-color;
            color: $primary-light;
        }
        .signup{
            background-color: $primary;
            color: $primary-light;
            transition-property: all;
            transition-duration: $time;
        }
        .signup:hover{
            background-color: $hover-color;
        }
    }
    .hamburger{
        display:none;
    }
}

@media only screen and (max-width: 1080px) {
    .navbar{
        .list{
            display: none;
            color: #F64C72;
        }
        .sign{
            display: none;
        }
        .responsive{
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: white;
            filter: drop-shadow(4px 14px 10px rgba(107, 107, 107, 0.322));
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 120px;
            z-index: 98;
            h2{
                margin: 0px;
                font-size: 30px;
            }
            .list{
                width: 100vw;
                margin: auto;
                height: auto;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    li{
                        margin: 5px;
                    }
                }
            }
        }
        .hamburger{
            display:block ;
            background: none;
            margin-right: 50px;
            border: none;
            cursor: pointer;
            margin-left: auto;
            img{
                height: 50px;
            }
        }
    }
    
}